
.DS_Store
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/E54761E/saved_source_markers
.Rproj.user/E54761E/rmd-outputs
.Rproj.user/E54761E/persistent-state
.Rproj.user/E54761E/pcs/workbench-pane.pper
.Rproj.user/E54761E/pcs/windowlayoutstate.pper
.Rproj.user/E54761E/pcs/source-pane.pper
.Rproj.user/E54761E/pcs/files-pane.pper
.Rproj.user/E54761E/pcs/debug-breakpoints.pper
.Rproj.user/E54761E/cpp-definition-cache
.Rproj.user/AA67343D/sources/s-E9EF533/lock_file
.Rproj.user/AA67343D/sources/s-E9EF533/DEF4B8ED-contents
.Rproj.user/AA67343D/sources/s-E9EF533/DEF4B8ED
.Rproj.user/AA67343D/sources/s-E9EF533/8F8E9C09-contents
.Rproj.user/AA67343D/sources/s-E9EF533/8F8E9C09
.Rproj.user/AA67343D/sources/s-E9EF533/75A45A53-contents
.Rproj.user/AA67343D/sources/s-E9EF533/75A45A53
.Rproj.user/AA67343D/sources/s-E9EF533/53399E72-contents
.Rproj.user/AA67343D/sources/s-E9EF533/53399E72
.Rproj.user/AA67343D/sources/s-E9EF533/3C690AA7-contents
.Rproj.user/AA67343D/sources/s-E9EF533/22246977-contents
.Rproj.user/AA67343D/sources/s-E9EF533/22246977
.Rproj.user/AA67343D/sources/prop/INDEX
.Rproj.user/AA67343D/sources/prop/ECC82AC
.Rproj.user/AA67343D/sources/prop/CD14BC53
.Rproj.user/AA67343D/sources/prop/C98FF5BD
.Rproj.user/AA67343D/sources/prop/AD2D2A92
.Rproj.user/AA67343D/sources/prop/A5A67DCF
.Rproj.user/AA67343D/sources/prop/A39E02D1
.Rproj.user/AA67343D/sources/prop/9DDA8FFD
.Rproj.user/AA67343D/sources/prop/95775CBD
.Rproj.user/AA67343D/sources/prop/8D1710A7
.Rproj.user/AA67343D/sources/prop/829898B1
.Rproj.user/AA67343D/sources/prop/7ED59764
.Rproj.user/AA67343D/sources/prop/69CC2A43
.Rproj.user/AA67343D/sources/prop/5BD3CD4E
.Rproj.user/AA67343D/sources/prop/519E08CA
.Rproj.user/AA67343D/sources/prop/4D9EBEAB
.Rproj.user/AA67343D/sources/prop/467F1BBB
.Rproj.user/AA67343D/sources/prop/46486BA9
.Rproj.user/AA67343D/sources/prop/311F58D4
.Rproj.user/AA67343D/sources/prop/30AF0A2D
.Rproj.user/AA67343D/sources/prop/25FBF7B8
.Rproj.user/AA67343D/sources/prop/21A22B46
.Rproj.user/AA67343D/sources/prop/1AE40198
.Rproj.user/AA67343D/sources/prop/156049CA
.Rproj.user/AA67343D/sources/prop/103B530D
.Rproj.user/AA67343D/saved_source_markers
.Rproj.user/AA67343D/rmd-outputs
.Rproj.user/AA67343D/persistent-state
.Rproj.user/AA67343D/pcs/workbench-pane.pper
.Rproj.user/AA67343D/pcs/windowlayoutstate.pper
.Rproj.user/AA67343D/pcs/source-pane.pper
.Rproj.user/AA67343D/pcs/files-pane.pper
.Rproj.user/AA67343D/pcs/debug-breakpoints.pper
.Rproj.user/AA67343D/cpp-definition-cache
.Rproj.user/AA67343D/console06/INDEX001
.Rproj.user/AA67343D/build_options
.Rhistory
.Rproj.user/AA67343D/sources/per/t/22246977
.Rproj.user/AA67343D/sources/per/t/22246977-contents
.Rproj.user/AA67343D/sources/per/t/53399E72
.Rproj.user/AA67343D/sources/per/t/53399E72-contents
.Rproj.user/AA67343D/sources/per/t/75A45A53
.Rproj.user/AA67343D/sources/per/t/75A45A53-contents
.Rproj.user/AA67343D/sources/per/t/8F8E9C09
.Rproj.user/AA67343D/sources/per/t/8F8E9C09-contents
.Rproj.user/AA67343D/sources/per/u/DEF4B8ED
.Rproj.user/AA67343D/sources/per/u/DEF4B8ED-contents
.Rproj.user/2C5ACE4C/sources/prop/62E4C8B0
.Rproj.user/2C5ACE4C/sources/prop/INDEX
.Rproj.user/2C5ACE4C/sources/s-EE369FF6/E1E039B4
.Rproj.user/2C5ACE4C/sources/s-EE369FF6/E1E039B4-contents
.Rproj.user/2C5ACE4C/sources/s-EE369FF6/lock_file
